.c {
    height: 100vh;
    position: relative;
}

.c-bg {
    width: 20px;
    height: 100%;
    background-color: #eb1d36;
    position: absolute;
}

.c-wrapper {
    padding: 50px;
    display: flex;
}

.c-left {
    flex: 1;
}

.c-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.c-title {
    font-size: 60px;
    width: 80%;
}

.c-info-item {
    display: flex;
    align-items: center;
    margin: 50px 0;
    font-weight: 300;
    width: 70%;
}

.c-icon {
    width: 30px;
    height: 30px;
    margin-right: 20px;
}

.c-desc {
    font-weight: 200;
}

form {
    margin-top: 20px;
}

input {
    width: 50%;
    height: 50px;
    border: none;
    border-bottom: 1px solid #000;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
}

textarea {
    width: 100%;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
    border: none;
    border-bottom: 1px solid #000;
}

button {
    color: #fff;
    border: none;
    font-size: 1rem;
    padding: 15px 50px;
    border-radius: 6px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 1.5s;
    font-weight: 500;
    background-color: #eb1d36;
    background: linear-gradient(to left, #eb1d36, #fff, #eb1d36);
    background-size: 200%;
}

button:hover {
    background-position: right;
}

.response {
    font-weight: 300;
    margin-top: 20px;
}

@media screen and (max-width: 1000px) {
    .c {
        margin-top: 30px;
    }

    .c-wrapper {
        flex-direction: column;
        padding: 0px 50px;
    }

    .c-title {
        font-size: 30px;
    }

    .c-info-item {
        width: 100%;
        margin: 20px 0px;
    }

    .c-right {
        margin-top: 25px;
    }

    form {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
    }

    input {
        width: 100%;
    }

    button {
        margin-top: 10px;
    }
}