* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

hr {
    border-style: dotted none none;
    width: 5%;
    border-width: 4px;
    color: #aaa;
    margin: 30px auto 10px auto;
}

::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
}